<main>
    <p id="notice"><%= flash[:notice] %></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
<%= render 'userinfo', user: @user %>

      <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
           <table class="table">
               <tbody>
                   <tr>
                       <td>
                       <% if @user.profile_image.attached? %>
                         <%= image_tag @user.profile_image, size: "100x100" %>
                       <% else %>
                         <%= image_tag 'no_image', size: "100x100" %>
                       <% end %>
                       </i>
                       <br><%= @user.name %>
                       </td>
                       <td><%= @book.title %></td>
                       <td><%= @book.body %></td>
                       <td>
                        <% if @book.user == current_user %>
                         <%= link_to "edit", edit_book_path(@book.id) %></a>
                        <% end %>
                       </td>
                       <td>
                        <% if @post_image.user == current_user %>
                         <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
                        <% end %>
                       </td>
                   </tr>
               </tbody>
           </table>
      </div>
    </div>
  </div>
</main>